{
  "ignoreFiles": [
    "assets/sass/abstracts/**/*",
    "assets/sass/vendor/**/*",
    "assets/sass/jquery.fancybox.scss"
  ],
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-empty-line-before": ["always", {
      except: [
        "after-same-name",
        "blockless-after-same-name-blockless",
        "first-nested"
      ],
      ignore: ["after-comment"]
    }]
  }
}
