/* -------------------------------------------------------------------------------------------------
  # Elements
------------------------------------------------------------------------------------------------- */
html {
    box-sizing: border-box;
    font-size: $root_font-size;
}

// See http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: $color_background-body;
    border: 0;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100vh;
    // http://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

blockquote,
q {
    quotes: "" "";
    font-style: italic;

    &::before,
    &::after {
        content: "";
    }
}

hr {
    background-color: $color_background-hr;
    // border: 0;
    // height: 1px;
    border: 1px solid;
    margin: -1px 0;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

// Extra wide images within figure tags don't overflow the content area.
figure {
    margin: 1em 0;
}

a,
b,
i,
strong,
em,
small,
code {
    line-height: normal;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}
