/* -------------------------------------------------------------------------------------------------
  # Elements
------------------------------------------------------------------------------------------------- */
html {
    box-sizing: border-box;
}

// See http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: $color_background-body;
}

blockquote,
q {
    quotes: "" "";

    &::before,
    &::after {
        content: "";
    }
}

hr {
    background-color: $color_background-hr;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

// Extra wide images within figure tags don't overflow the content area.
figure {
    margin: 1em 0;
}
