/* -------------------------------------------------------------------------------------------------
  # Site Layout
------------------------------------------------------------------------------------------------- */
.site_body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.site_header,
.site_footer,
.site_sidebar {
    position: relative;
    background: $color_background-body;
}

.site_main {
    flex: 1 0 auto;
}
