/* -----------------------------------------------------------------------------
  # Site
----------------------------------------------------------------------------- */
.site {
  display: flex;
  flex-direction: column;
}

.site-main {
  flex: 1 0 auto;
}

.site-header,
.site-main,
.site-footer,
.site-sidebar {
  position: relative;
}
