/* -------------------------------------------------------------------------------------------------
  # Typography
------------------------------------------------------------------------------------------------- */
body,
button,
input,
select,
textarea {
    font-family: $font_main;
    font-size: $root_font-size;
    font-size: 1rem;
    line-height: $root_line-height;
}

.site_main {
    font-size: $body_font-size;
    line-height: $body_line-height;
    max-width: $site_max-width;

    @include breakpoint(medium) {
        font-size: 1.250em;
    }

    @include breakpoint(medium) {
        font-size: 1.375em;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    line-height: 1.25em;
    margin-top: 1.75rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: get-heading(h1, font-size);
}

h2 {
    font-size: get-heading(h2, font-size);
}

h3 {
    font-size: get-heading(h3, font-size);
}

h4 {
    font-size: get-heading(h4, font-size);
}

h5 {
    font-size: get-heading(h5, font-size);
}

h6 {
    font-size: get-heading(h6, font-size);
}

p:empty {
    display: none;
}

p,
hr,
pre,
address,
blockquote,
.wp-caption,
.gallery {
    margin-top: 0;
    margin-bottom: 1.6em;
}

dfn,
cite,
em,
i {
    font-style: italic;
    font-weight: lighter;
}

pre {
    @include font-size(16, em);
    background: $color_background-pre;
    font-family: $font_pre;
    line-height: $font_line-height-pre;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    @include font-size(16, em);
    font-family: $font_code;
}

abbr,
acronym {
    border-bottom: 1px dotted $color_border-abbr;
    cursor: help;
}

mark,
ins {
    background: $color_background-ins;
    text-decoration: none;
}

big {
    font-size: 125%;
}

a {
    color: $color_link;

    &:visited {
        color: $color_link-visited;
    }

    &:hover,
    &:focus,
    &:active {
        color: $color_link-hover;
    }

    &:focus {
        outline: thin dotted;
    }

    &:hover,
    &:active {
        outline: 0;
    }
}
