/* -------------------------------------------------------------------------------------------------
  # Lists
------------------------------------------------------------------------------------------------- */
ul,
ol {
  margin-bottom: rem(24);
  margin-left: 1rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
  margin-left: 0;
  padding-left: rem(24);
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1rem rem(24);
}
