/* -------------------------------------------------------------------------------------------------
  # Lists
------------------------------------------------------------------------------------------------- */
ul,
ol {
  margin: 0 0 1.6em 2em;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0;
  padding-left: 1.5em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.6em;
}
