// Rem/em output with px fallback
@mixin font-size($size: 16, $unit: px) {
    $px: $size * 1px;

    font-size: #{$px};

    @if $unit == rem {
        font-size: rem($size);
    }

    @if $unit == em {
        font-size: em($size);
    }
}

// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clearfix
@mixin clearfix() {
    content: "";
    display: table;
    table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
    clear: both;
}
