/* -------------------------------------------------------------------------------------------------
  # Posts Base
------------------------------------------------------------------------------------------------- */
.sticky {
  display: block;
}

.hentry {
  margin-bottom: 1rem;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single,
.group-blog {
  & .byline {
    display: inline;
  }
}

.page_content,
.post_content,
.post_summary {
  margin-top: 1rem;
}

.page_links {
  clear: both;
  margin-bottom: 1rem;
}

.category-links,
.tag-links,
.comment-link {
  display: block;
}
